---
import Typewriter from '../components/Typewriter'
import MovingPicture from '../components/MovingPicture'
import SocialLinks from '../components/SocialLinks.astro'

const { title, pageDescription, metaDescription } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/ae0d597aae.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Displays social network links -->
      <div class="container social">
        <SocialLinks />
      </div>

      <!-- Displays content of page -->
      <div class="container content">
        <slot />
      </div>

      <!-- Displays the moving portrait.  The animation is tied to the pageDescription prop. -->
      <div class="container profile-pic">
        <a href="/">
          <MovingPicture pageDescription={pageDescription} client:load />
        </a>
      </div>

      <!-- Displays name and profession -->
      <div class="container stats">
        <p>Frank Marra</p>
        <p>Software Engineer</p>
      </div>

      <!-- Nav -->
      <nav class="container nav">
        <ul>
          <li>
            <a href="/about/">About</a>
          </li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/resume/">Resume</a></li>
        </ul>
      </nav>

      <!-- Displays page description letter by letter until complete.  The length of the description is what controls the moving portrait. -->
      <div class="container page-description">
        <Typewriter
          pageDescription={pageDescription}
          placeHolder={pageDescription}
          client:load
        />
      </div>
    </div>

    <style>
      .page-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 2fr 5fr 0.5fr;
        justify-items: center;
        padding-top: 7vh;
      }

      .container {
        margin-block: 1.5vh;
        border: 8px ridge #aeb3ae;

        background-color: rgba(0, 36, 96, 0.8);

        color: var(--color-text);
      }
      .social {
        grid-column: 2 /3;
        grid-row: 4;
        width: 256px;
      }

      .content {
        grid-column: 3 / 4;
        grid-row: 2 / 6;
        width: 50vw;
        height: 45vh;
        overflow-y: scroll;
        align-self: center;
      }

      .date,
      .page-description,
      .content {
        padding: 1vh 2vw;
      }
      .nav {
        grid-column: 2;
        grid-row: 5;
        padding: 2vh 1vw;
      }
      .nav li {
        padding-inline: 1vw;
      }
      .page-description {
        grid-column: 3 / 4;
        width: 70%;
        grid-row: 1;
      }
      .profile-pic {
        height: 230px;
        width: 256px;
        grid-column: 2;
        grid-row: 2 / 4;
      }
      .stats {
        text-align: center;
        display: flex;
        flex-flow: column;
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        width: 256px;
        padding-block: 1.5vh;
      }

      .stats p {
        margin: 0;
      }

      @media screen and (max-width: 600px) {
        .page-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0;
        }

        .container {
          margin-block: 1.5vh;
          border: 3px ridge #aeb3ae;

          background-color: rgba(0, 36, 96, 0.8);

          color: var(--color-text);
        }

        .stats {
          text-align: center;
          display: flex;
          flex-flow: row;
          grid-column: 1 / -1;
          grid-row: 1;
          align-self: auto;
          width: 90%;
          justify-content: space-around;
          font-size: 0.8rem;
        }

        .social {
          grid-column: 1 / -1;
          grid-row: 5;
          width: 90%;
        }

        .page-description {
          grid-column: 2 / -1;
          width: 80%;
          grid-row: 3;
          font-size: 0.7rem;
          margin-inline: 0;
          justify-self: left;
          overflow: hidden;
        }

        .nav {
          grid-column: 1 / -1;
          grid-row: 2;
          width: 90%;
          padding: 0.5vh 0;
          font-size: 0.8rem;
        }

        .nav ul {
          display: flex;
          justify-content: space-around;
        }
        .nav li {
          padding-inline: 1vw;
        }

        .content {
          grid-column: 1 / -1;
          grid-row: 4;
          width: 75vw;
          height: 25vh;

          overflow-y: scroll;
          align-self: center;
        }

        .profile-pic {
          height: 115px;
          width: 128px;
          grid-column: 1;
          grid-row: 3;
        }
      }
    </style>

    <style is:global>
      @font-face {
        font-family: retroGaming;
        src: url('/fonts/Retro Gaming.ttf');
      }

      @font-face {
        font-family: storybook;
        src: url('/fonts/Storyboo.TTF');
      }
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: #f8fcf8;
        --color-bg: #002460;
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: retroGaming, system-ui, sans-serif;
        font-size: var(--font-size-base);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
        background-image: url('/assets/map001_sm.png');
        background-color: rgba(72, 72, 72, 0.3);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      a {
        text-decoration: none;
        color: var(--color-text);
      }

      li:hover {
        animation: blink 0.7s infinite;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      @keyframes blink {
        from,
        to {
          background-color: transparent;
        }
        50% {
          background-color: #e32029;
        }
      }

      @media screen and (max-width: 600px) {
        .profile-pic img {
          width: 128px;
          height: 115px;
        }

        .content img {
          height: 20vh;
          width: auto;
        }
      }
    </style>
  </body>
</html>
