---
// export interface Props {
//   title: string
//   pageDescription: string[]
// }
import Typewriter from '../components/Typewriter'
import MovingPicture from '../components/MovingPicture'

const { title, pageDescription, metaDescription } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/ae0d597aae.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="container social">
        <ul class="social-links">
          <li>
            <a
              href="https://github.com/frankmarra"
              target="_blank"
              id="github"
              aria-label="github"
              ><i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/frankrmarra/"
              target="_blank"
              id="linkedin"
              aria-label="linkedin"
              ><i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a
              href="mailto:frankrmarra@gmail.com"
              target="_blank"
              id="email"
              aria-label="email"
              ><i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- <div class="space"></div> -->
      <div class="container content">
        <slot />
      </div>

      <div class="container profile-pic">
        <a href="/">
          <MovingPicture pageDescription={pageDescription} client:load />
        </a>
      </div>
      <div class="space"></div>
      <div class="container stats">
        <p>
          Frank Marra
          <br />
          Software Engineer
        </p>
      </div>
      <nav class="container nav">
        <ul>
          <li>
            <a href="/about/">About</a>
          </li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/resume/">Resume</a></li>
        </ul>
      </nav>
      <div class="container page-description">
        <Typewriter
          pageDescription={pageDescription}
          placeHolder={pageDescription}
          client:load
        />
      </div>
    </div>

    <style>
      .page-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 2fr 5fr 0.5fr;
        justify-items: center;
        padding-top: 7vh;
        /* align-items: center; */
      }

      .container {
        margin-block: 1.5vh;
        border: 8px ridge #aeb3ae;

        background-color: rgba(0, 36, 96, 0.8);

        color: var(--color-text);
        /* z-index: 1; */
      }
      .social {
        grid-column: 2 /3;
        grid-row: 4;
        width: 256px;
      }
      .social-links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 1vh 0;
      }

      .social-links li {
        font-size: 1.2rem;
        color: var(--color-text);
        /* padding: 0 2vw; */
      }
      .content {
        grid-column: 3 / 4;
        grid-row: 2 / 6;
        width: 50vw;
        height: 50vh;
        /* margin: 0; */
        overflow-y: scroll;
        align-self: center;
      }
      .date,
      .page-description,
      .content {
        padding: 1vh 2vw;
      }
      .nav {
        grid-column: 2;
        grid-row: 5;
        /* width: 35%; */
      }

      .page-description {
        grid-column: 3 / 4;
        width: 70%;
        grid-row: 1;
      }
      .profile-pic {
        height: 230px;
        width: 256px;
        grid-column: 2;
        grid-row: 2 / 4;
      }
      .stats {
        text-align: center;

        grid-column: 2;
        grid-row: 1;
        /* padding-inline: 2vw; */
        align-self: center;
        width: 256px;
      }
    </style>

    <style is:global>
      @font-face {
        font-family: retroGaming;
        src: url('/fonts/Retro Gaming.ttf');
      }

      @font-face {
        font-family: storybook;
        src: url('/fonts/Storyboo.TTF');
      }
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: #f8fcf8;
        --color-bg: #002460;
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: retroGaming, system-ui, sans-serif;
        font-size: var(--font-size-base);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
        background-image: url('/assets/map001_sm.png');
        background-color: rgba(72, 72, 72, 0.3);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      a {
        text-decoration: none;
        color: var(--color-text);
      }

      li:hover {
        animation: blink 0.7s infinite;
        width: 100%;
      }

      ul {
        list-style: none;
        padding: 0 20px;
      }

      @keyframes blink {
        from,
        to {
          background-color: transparent;
        }
        50% {
          background-color: #e32029;
        }
      }
    </style>
  </body>
</html>
