---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <nav>
    <ul>
      <li><a href="/">frankmarra.dev</a></li>
      <li><a href="/projects">posts</a></li>
    </ul>
  </nav>
  <div class="post-wrapper">
    <div class="left-gutter"></div>
    <div class="content">
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.date}</p>
      <img src={frontmatter.hero} alt={frontmatter.heroAlt} />
      <div class="site-link">
        <a href={frontmatter.siteLink} target="_blank">** Try it out! **</a>
      </div>
      <div class="post-text">
        <slot />
      </div>
    </div>
    <div class="right-gutter"></div>
  </div>
</Layout>

<style>
  nav {
    background-color: black;
    padding: 2vh 2vw;
    font-size: 1.4rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .post-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    background-color: black;
  }

  .content {
    overflow-y: scroll;
    height: 100%;
    width: 70vw;
  }

  .content img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .site-link {
    text-align: center;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding-block: 2vh;
  }

  .post-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
</style>
