---
import ProjectImage from '../components/ProjectImage'
import ProjectHeader from '../components/ProjectHeader.astro'
import Card from '../components/Card.astro'
import ProjectNav from '../components/ProjectNav.astro'
const {
  title,
  techUsed,
  picArray,
  projectLinks,
  metaDescription,
  boxArt,
  nextProject,
  lastProject
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="favicon.ico" />
    <script
      src="https://kit.fontawesome.com/ae0d597aae.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Displays name and profession and link back to main portfolio -->
      <div class="stats">
        <p>Frank Marra</p>
        <p>Software Engineer</p>
        <a href="/projects/" id="back-button">Back</a>
      </div>

      <ProjectNav />

      <div class="container project-info">
        <!-- This is the title of the project, the stack used to build it, and the links associated with it. -->
        <div class="title-and-links">
          <h1>{title}</h1>
          <div class="tech-used">{techUsed}</div>
          <div class="project-links">
            <a href={projectLinks.url} id="deployed-project">Live Site</a>
            <a href={projectLinks.github} id="project-github">
              <i class="fa-brands fa-github" id="github"></i>{' '}Code
            </a>
          </div>
        </div>
        <div class="picture-array">
          <ul>
            {
              picArray.map((pic) => {
                return (
                  <li>
                    <img src={pic} />
                  </li>
                )
              })
            }
          </ul>
        </div>

        <div class="content">
          <slot />
        </div>
      </div>
    </div>
    <style>
      .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr;
        height: 100vh;
      }

      .stats {
        display: flex;
        flex-flow: row;
        grid-column: 1 / -1;
      }
      .container {
        margin-block: 1.5vh;
        border: 5px ridge #7cd1ff;
        box-shadow: 0 0 4px 3px rgba(252, 252, 252, 0.5);
        border-radius: 10px;
        background-color: rgba(49, 197, 255, 0.5);
        color: var(--color-text);
        z-index: 1;
      }

      .content {
        overflow-y: scroll;
        grid-column: 2 / -1;
        /* width: 80%; */
        height: 20vh;
        line-height: 1.25rem;
        letter-spacing: 0.08rem;
      }

      .picture-array {
        display: flex;
        /* overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain; */
        /* align-items: center;
        justify-content: center;
        width: 90vw; */
      }

      /* .tech-used {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        width: 70%;
      } */
    </style>
    <style is:global>
      @font-face {
        font-family: retroGaming;
        src: url('/fonts/Retro Gaming.ttf');
      }
      :root {
        --color-text: #f8fcf8;
        --color-bg: #002460;
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: retroGaming, system-ui, sans-serif;
        /* font-size: var(--font-size-base); */
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
        background-image: linear-gradient(
          to bottom right,
          #2414b2,
          var(--color-bg)
        );
        background-repeat: no-repeat;
        background-size: cover;

        border: 5px ridge #aeb3ae;
      }
      h1 {
        margin-block: 3vh 1.5vh;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      a {
        text-decoration: none;
        color: var(--color-text);
      }
      a:hover {
        animation: blink 0.7s infinite;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        margin-inline: 2vw;
      }

      /* .picture-array img {
        width: 35vw;
        height: auto;
      } */
      @keyframes blink {
        from,
        to {
          background-color: transparent;
        }
        50% {
          background-color: #e32029;
        }
      }
    </style>
  </body>
</html>
