---
export interface Props {
  title: string
  body: string
  href: string
  thumb: string
}

const { href, title, body, thumb } = Astro.props
---

<li class="link-card">
  <a href={href}>
    <img src={thumb} alt={title} />
    <!-- <div class="card-details">
      <h3>
        {title}
      </h3>
      <p>
        {body}
      </p>
    </div> -->
  </a>
</li>

<style>
  h3 {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.8rem;
  }
  .link-card {
    margin-inline: 1vw;
    padding: 2vh 1.3vw;
    scroll-snap-align: start;
  }
  .link-card a {
    /* display: block; */
    color: var(--color-text);
    text-align: center;
    align-items: center;
  }
  img {
    height: 40vh;
    width: auto;
    z-index: 0;
  }
  .card-details {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .card-details:hover {
    opacity: 1;
    display: flex;

    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: darken;
  }
</style>
