---
const { boxArt, title, projectLinks } = Astro.props
---

<header>
  <div class="project-links-and-info">
    <div class="box-art-nav">
      <i class="fa-solid fa-caret-left"></i>
      <img src={boxArt} alt={title} />
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="title-and-links">
      <h1>{title}</h1>
      <div class="project-links">
        <a href={projectLinks.url} id="deployed-project">Visit</a>
        <a href={projectLinks.github} id="project-github">
          <i class="fa-brands fa-github" id="github"></i>
        </a>
        <a href="/projects/" id="back-button">Back</a>
      </div>
    </div>
    <!-- Displays name and profession -->
    <div class="container stats">
      <p>Frank Marra</p>
      <p>Software Engineer</p>
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--color-text);
  }
  .project-links-and-info {
    display: flex;
    position: relative;
  }

  .project-links-and-info img {
    width: 77.5px;
    height: 109px;
  }

  .title-and-links {
    display: flex;
    flex-flow: column;
  }

  .box-art-nav {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-inline: 0.5vw;
  }

  .project-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
  }

  .project-links a {
    padding-inline: 2vw;
  }
</style>
