---
const { boxArt, title, projectLinks, techUsed, nextProject, lastProject } =
  Astro.props
---

<header>
  <div class="project-links-and-info">
    <div class="box-art-nav">
      <a href={lastProject}><i class="fa-solid fa-caret-left"></i></a>
      <img src={boxArt} alt={title} />
      <a href={nextProject}><i class="fa-solid fa-caret-right"></i></a>
    </div>

    <div class="title-and-links">
      <h1>{title}</h1>
      <div class="tech-used">{techUsed}</div>
      <div class="project-links">
        <a href={projectLinks.url} id="deployed-project">Live Site</a>
        <a href={projectLinks.github} id="project-github">
          <i class="fa-brands fa-github" id="github"></i>{' '}Code
        </a>
      </div>
    </div>

    <div class="stats">
      <p>Frank Marra</p>
      <p>Software Engineer</p>
      <a href="/projects/" id="back-button">Back</a>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
  }
  h1 {
    margin: 0;
  }
  .project-links-and-info {
    display: flex;
    color: var(--color-text);
    justify-content: space-around;
  }

  .project-links-and-info img {
    width: auto;
    height: 140px;
  }

  .box-art-nav {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 30%; */
    margin: 1.5vh 4vw;
  }

  .title-and-links {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }

  .project-links a {
    border: 1px ridge #7cd1ff;
    border-radius: 10px;
    margin-inline: 1vw;
    padding-inline: 2vw;
  }

  .stats {
  }
</style>
